html, body {
  margin: 20px 0 80px 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  width: 960px;
  margin: auto;
  text-align: left;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.img-circle {
  border-radius: 50%;
  border: 0;
}

code, pre {
  background: #f7f7f7;
  padding: 3px;
  border-radius: 3px;
  line-height: 1.5;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
pre {
  padding: 10px;
  overflow: scroll;
}

.bitter-font {
  font-family: 'Bitter', serif;
}